body {
    background-color: rgb(0, 108, 250);
}
.navAlinement{
    text-align: right;
    margin: 0;
    padding: 0;
}
.nav-color{

}
.center {
    text-align: center;
}
.titles{
    margin-top: 10px;
}
.active{
    color: yellow;
}
footer { 
    text-align: center

}
.img-fit{
    width: 75%;
    text-align: right;
    margin-right: 10px;
}
footer { 
   height:75px
}

.footer-text{
   font-size: 25px;
}
#whats-good{
    margin-left: 15% ;
    margin-right: 15% ;
    margin-top: 10px;
}
#kitty-box-model{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.center-para{
    margin: 10px 15%;
}
.dont-touch-touch{
    margin: 0 10% 0 0;
}

#vieo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.img-gal{
    padding: 0;
    margin: 0;
    width: 75%;
}

.box{
    background: rgb(57, 145, 252);
    height: 100px;
}
.box1{
    background: rgb(3, 109, 239);
    height: 100px;
}
.base{
    background: rgb(100, 159, 231);
    height: 100px;
    width: ;
}
.pad1{
    padding-top: 50px;
    border: 3px solid black;
}
.pad2{
    border: 3px solid black;
    padding-bottom: 50px;
}
.pad3{
    border: 3px solid black;
    padding-left: 100px;
}
.pad4{
    border: 3px solid black;
    padding-right: 100px;
}
.pad{
    border: 3px solid black;
}
.mag1{
    border: 3px solid black;
    margin-top: 70.5px;
}
.mag2{
    border: 3px solid black;
    margin-bottom: ;
}
.mag3{
    border: 3px solid black;
    margin-left: 90px;
}
.mag4{
    border: 3px solid black;
    margin-right: 90px;
}
#side-img{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-size: 20px;
}