body {
    background-color: rgb(0, 108, 250);
}
.navAlinement{
    text-align: right;
    margin: 0;
    padding: 0;
}
.nav-color{

}
.center {
    text-align: center;
}
.titles{
    margin-top: 10px;
}
.active{
    color: yellow;
}
footer { 
    text-align: center

}
.img-fit{
    width: 75%;
    text-align: right;
    margin-right: 10px;
}
footer { 
   height:75px
}

.footer-text{
   font-size: 25px;
}
#whats-good{
    margin-left: 15% ;
    margin-right: 15% ;
    margin-top: 10px;
}
#kitty-box-model{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.center-para{
    margin: 10px 15%;
}
.dont-touch-touch{
    margin: 0 10% 0 0;
}

#vieo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.img-gal{
    padding: 0;
    margin: 0;
    width: 75%;
}